@use '@/styles/variables.scss' as *;

.inputContainer {
  position: relative;
  border-radius: 5px;
  border: none;
  background: $input-bg-color;
  padding: 19px 20px;
  color: $text-color-input;
  font-size: 18px;
  line-height: 1;

  .input {
    width: 100%;
  }

  .error {
    position: absolute;
    left: 19px;
    top: 8px;
    font-size: 10px;
    color: $text-color-accent;
  }
}
