@use '@/styles/variables.scss' as *;

.footer {
  padding: 40px 0;
  background: $bg-color-tertiary;
  color: $text-color-secondary;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .copyright {
    font-size: 16px;
    color: $text-color-tertiary;
    margin-top: 5px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 0;
    .content {
      .wrapper {
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }

      .copyright {
        text-align: center;
        margin-top: 40px;
      }
    }
  }
}
